extends layout

block content
    div.column
        section.hero.is-info
            div.hero-body
                div.container
                    h1.title Home Page
                    h2.subtitle Replace this Page with your home page text